@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&400&600&700&display=swap%27');
* {
  font-family: 'Mulish', sans-serif;
}
.LoginBody{
    background-color: #4e73df;
}
.bg-login-image{
  background: url(assets/img/kopek.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 8px 0 0 8px;

}